<?xml version="1.0" ?>
<config>
    <modules>
        <Spet_Top3Widget>
            <version>1.0.0</version>
        </Spet_Top3Widget>
    </modules>
    <global>
        <resources>
            <spet_top3Widget_setup>
                <setup>
                    <module>Spet_Top3Widget</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </spet_top3Widget_setup>
        </resources>

        <blocks>
            <top3Widget>
                <class>Spet_Top3Widget_Block</class>
            </top3Widget>
        </blocks>

        <models>
            <top3Widget>
                <class>Spet_Top3Widget_Model</class>
            </top3Widget>
        </models>

        <helpers>
            <spet_top3Widget>
                <class>Spet_Top3Widget_Helper</class>
            </spet_top3Widget>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <spet_top3Widget before="Mage_Adminhtml">Spet_Top3Widget_Adminhtml</spet_top3Widget>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <is_top>
                                            <title>Education</title>
                                        </is_top>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>