<?xml version="1.0" encoding="UTF-8" ?>
<config>

    <modules>
        <Spet_Blog>
            <version>1.0.3</version>
        </Spet_Blog>
    </modules>

    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Spet_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <spet_blog>
                    <file>spet_blog.xml</file>
                </spet_blog>
            </updates>
        </layout>
    </frontend>

    <global>

        <resources>
            <spet_blog_setup>
                <setup>
                    <module>Spet_Blog</module>
                </setup>
            </spet_blog_setup>
        </resources>

        <blocks>
            <blog>
                <class>Spet_Blog_Block</class>
            </blog>
        </blocks>

        <helpers>
            <spet_blog>
                <class>Spet_Blog_Helper</class>
            </spet_blog>
        </helpers>

        <models>

            <blog>
                <class>Spet_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>

            <blog_resource>
                <class>Spet_Blog_Model_Resource</class>
                <entities>
                    <articles>
                        <table>blog_posts</table>
                    </articles>
                    <products>
                        <table>products_and_posts</table>
                    </products>
                    <customer>
                        <table>customer_entity</table>
                    </customer>
                    <catalog>
                        <table>catalog_product_entity</table>
                    </catalog>
                </entities>
            </blog_resource>

        </models>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <spet_blog before="Mage_Adminhtml">Spet_Blog_Adminhtml</spet_blog>
                    </modules>
                </args>
                <blocks>
                    <spet_blog>
                        <class>Spet_Blog_Block_Adminhtml</class>
                    </spet_blog>
                </blocks>
            </adminhtml>
        </routers>
    </admin>

</config>
