<?xml version="1.0"?>
<config>
    <modules>
        <Spet_TestModule>
            <version>1.0.0</version>
        </Spet_TestModule>
    </modules>
    <frontend>
        <routers>
            <testmodule>
                <use>standard</use>
                <args>
                    <module>Spet_TestModule</module>
                    <frontName>custom</frontName>
                </args>
            </testmodule>
        </routers>
        <layout>
            <updates>
                <spet_testmodule>
                    <file>spet_testmodule.xml</file>
                </spet_testmodule>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <testmodule>
                <class>Spet_TestModule_Block</class>
            </testmodule>
        </blocks>
        <models>
            <testmodule>
                <class>Spet_TestModule_Model</class>
            </testmodule>
        </models>
    </global>
</config>